@media(max-width: 1440px) {
    html {
        font-size: 82.6%;
    }
}

@media(max-width: 960px) {
    .content-main {
        width: 90%;
    }
}

@media(max-width: 760px) {
    .content-main {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .content-text--main {
        width: 90%;
    }

    .content-img--main {
        width: 70%;
    }

    html {
        font-size: 80%;
    }
}

@media(max-width: 600px) {
    .content-text--main h1, h2 {
        font-size: 3.5rem;
    }
}